Nunito-Italic-VariableFont_wght.ttf

OFL.txt

README.txt

Nunito-Black.ttf

Nunito-BlackItalic.ttf

Nunito-Bold.ttf

Nunito-BoldItalic.ttf

Nunito-ExtraBold.ttf

Nunito-ExtraBoldItalic.ttf

Nunito-ExtraLight.ttf

Nunito-ExtraLightItalic.ttf

Nunito-Italic.ttf

Nunito-Light.ttf

Nunito-LightItalic.ttf

Nunito-Medium.ttf

Nunito-MediumItalic.ttf

Nunito-Regular.ttf

Nunito-SemiBold.ttf

Nunito-SemiBoldItalic.ttf